* {
  margin: 0;
  padding: 0;
}
.editor_top_content {
  margin-top: 20px;
}
.editor_heading h2 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 26px;
  color: #283739;
  margin-bottom: 40px;
}
.editor_nav {
  width: 90%;
  margin: auto;
  border-radius: 4px 4px 0px 0px;
  background-color: #e6f0ff;
}
.editor_nav ul {
  display: flex;
  list-style: none;
  justify-content: start;
  align-items: center;
  height: 40px;
}
.editor_nav ul li {
  margin: 0px 20px;
}
.editor_nav a:hover {
  background-color: #c6dbfe;
  height: 40px;
  transition: 0.5s all linear;
  display: grid;
  place-items: center;
}
.editor_nav a {
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 4px;
}

.preview {
  width: 90%;
  margin: auto;
  height: 100vh;
  border: 1px solid #dadada;
  margin-bottom: 25px;
}

.sun-editor-editable {
  padding: 15px;
}
.sun-editor-editable img{
  overflow: scroll;
  
}
.sun-editor {
  border-radius: 0px 0px 4px 4px;
}
.sun-editor .se-resizing-bar {
  border-radius: 0px 0px 4px 4px;
}
