/* Editor toolbar  */
.sun-editor .se-toolbar {
  outline: none !important;
  border-bottom: 1px solid #b1b1b1;
  position: sticky;
  top: 0;
}

/* Editor  container */
.sun-editor-editable {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 14px;
  flex: 1;
  overflow: auto;
  color: black;
}
/* Editor container image */
.sun-editor-editable img {
  overflow: scroll;
}
.ͼ1 .cm-scroller {
  padding: 14px;
}

.ͼ1 {
  height: 100%;
}

.ͼ16 {
  background-color: white !important;
}

.sun-editor {
  border: none;
}

.sun-editor .se-wrapper .se-wrapper-inner {
  min-height: 408px;
}

.sun-editor-editable p {
  margin: 0px !important;
}
.parent_container {
  transform: translateX(0);
}
.sun-editor .se-resizing-bar {
  position: fixed;
  top: 100%;
  z-index: 10;
  width: 90%;
  margin: auto;
  border: 1px solid #b1b1b1;
  border-radius: 0px 0px 4px 4px;
}
