* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
body{
  position:fixed;
  left:0;
  right:0;
}
.tox-statusbar {
  display: none !important;
}
.tox-tinymce {
  border-radius: 0px !important;
  background-color: aliceblue !important;
}
iframe{
  outline: none;
}
.tox.tox-tinymce .tox-edit-focus{
  outline:none !important;
}
.container h3 {
  text-align: center;
  margin: 20px 0;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 22px;
  color: #9dccf8;
}
.menus {
  display: flex;
  justify-content: start;
  background-color:#e9eff5;
  margin: 0 66px;
  /* border-radius: 10px; */
}
.menus a {
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #2971b5;
  font-weight: 550;
  letter-spacing: 1px;
}
.menus a:hover {
  color: white;
  background-color: #2e6190;

  transition: 1s all ease;
}
.tox-dialog.Show .tox-dialog{
display: block
}