* {
  margin: 0;
  padding: 0;
}
body.tinymce {
  line-height: 0.5 !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.editor_content {
  width: 100%;
}
.editor_menu {
  margin-top: 40px;
  width:89%;
  background-color: ghostwhite;
  margin-left: 70px;
  border-radius: 10px;
  padding:15px 5px;
 
}
.editor_menu a {
  padding-right: 20px;
  text-decoration: none;

  color: blue;
}
.editor_menu a:focus {
  color: whitesmoke;
  background-color: blue;
  transition: 0.3s all linear;
}
.tox-statusbar {
  display: none !important;
}
