* {
  margin: 0;
  padding: 0;
}
body.tinymce {
  line-height: 0.5 !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.editor_head h3{
  font-weight: 500;
  letter-spacing: 1px;
  color:rgb(77, 71, 71);
}
.editor_content {
  width: 100%;
}
.editor_menu {
  margin-top: 40px;
  width: 90%;
  background-color: rgb(222, 222, 239);
  margin-left: 70px;
  /* border-radius: 10px; */
}
.editor_menu ul li {
  display: inline-block;
  padding:10px;
}
.editor_menu li a {
  text-decoration: none;
  color: rgb(63, 63, 229);
  margin: 10px;
}
.editor_menu li a:hover{
  color: whitesmoke;
}
.editor_menu ul li:hover {
 
  background-color: rgb(40, 40, 147);
  transition: 0.5s all ease-in;
}
.tox-statusbar {
  display: none !important;
}
.tox-sidebar-wrap body{
  line-height: 0.5 !important;
}